.header {
    display: flex;
    justify-content: left;
    align-content: center;
}

.nav {
    display: flex;
    border-bottom: solid .05rem white;
    border-top: solid .05rem white;
}

.nav__item {
    margin: 1em auto;
}

.title {
    display: flex;
    justify-content: center;
}

.body {
    background-color: black;
    color: white;
}

.main {
    display: flex;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin: .5rem;
}

img {
    max-width: 25rem;
}

.right {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 0rem;
    margin: 2rem;
    margin-top: 0rem;
}

.footer {
    display: flex;
    border-top: solid .05rem white;
}