.body {
    background-color: black;
    background-image: url("http://duleygrafix.com/serlinks/images/80slove_bkgrn2-min.png;");
    color: white

}
.header {
    display: flex;
    justify-content: left;
    align-content: center;
}

.main {
    display: flex;
    justify-content: space-evenly;
}

.band {
    flex: 1;


}

.band_pic {
    max-width: 100%;
}

.main_header {
    text-align: center;
}

.title {
    margin: auto;
    font-size: 5.6rem;
    
}
