.body {
background-color: rgb(74, 5, 105);
    background-image: url("http://duleygrafix.com/serlinks/images/80slove_bkgrn2-min.png;");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;

}
.header {
    display: flex;
    justify-content: left;
    align-content: center;
}

.main {
    display: flex;
    justify-content: space-evenly;
}

.band {
    flex: 1;


}

.band_pic {
    display: flex;
    max-width: 100%;
}

.main_header {
    text-align: center;
}

.title {
    margin: auto;
    font-size: 5.6rem;
    
}
